:root {
  --general-bgc: #b7d1da;
  --input-bgc: #2e282a;
  --input-color: #e2e8dd;
  --middle-buttons-bgc: #424242;
  --numbers-bgc: #95a3a4;
  --operators-bgc: #d16014;
  --all-buttons-color: #efe6dd;
}

body {
  background-color: var(--general-bgc);
}

div {
  margin: 0 auto;
  padding: 7px;
  width: 350px;
  border-radius: 20px;
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 7px;
  background-color: var(--input-bgc);
}

@media screen and (max-width: 375px) {
  div {
    width: auto;
  }
}

@media screen and (max-width: 230px) {
  div {
    display: none;
  }
}

input {
  margin-top: 35px;
  padding: 0 10px;
  grid-column: 1/-1;
  background-color: var(--input-bgc);
  border: none;
  color: var(--input-color);
  text-align: end;
  font-size: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  color: var(--input-color);
  background-color: var(--numbers-bgc);
  font-size: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.middle-buttons {
  background-color: var(--middle-buttons-bgc);
}

.operator {
  background-color: var(--operators-bgc);
}

.zero {
  grid-column: span 2;
}
